#aboutBackgroundDiv {
    position: relative;
    background-image: url('./img/international-district.png');
    height: 490px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#aboutBottomLeft {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
}

#aboutBottomLeft > h1 {
    font-weight: 700;
    font-family: "Sora";
    font-size: xxx-large;
}

.aboutText {
    background-color: #D8DCDE;

}

.aboutText > p {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.centerText {
    text-align: center;
    padding: 2%;
}

.dashed {
    border-top: 3px dashed #bbb;
}

#creators {
    margin-top: 3.5rem;
}

.featureText {
    font-size: larger;
}

.aboutEmail, .aboutGithub, .linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.extraBottomPadding {
    padding-bottom: 2%;
}

/* .mail-icon, .github-icon, .linkedin-icon {
    margin-right: 10px;
    margin-bottom: 2px;
} */

.Steven, .Damita, .Phung, .Chloe {
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.tanBackground {
    background-color: #f5efe0;
}

.aboutName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: .5rem;
}

.aboutRoleTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a:link, a:visited {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #B36300;
}

@media (min-width: 1000px) {
#creatorsDetails {
    display: flex;
    justify-content: space-evenly;
}

/* .mail-icon, .github-icon, .linkedin-icon {
    margin-right: 10px;
    margin-bottom: 2px;
} */

.Steven, .Damita, .Phung, .Chloe {
    transition: transform 400ms;
}

.Steven:hover, .Damita:hover, .Phung:hover, .Chloe:hover{
    transform: scale(1.06);
}
}

